body {
    background-color: rgb(208, 255, 239);
}

h1 {
    color: rgb(247, 63, 63);
    font-style: normal;
}

h2 {
    color: rgb(11, 45, 238);
}

hr {
    
    border: none;
    outline-style: dashed;
    outline-color: skyblue;
    width: 10%;
}

p {
    font-family: monospace;
    font-size: medium;
}

